.songSlider {
    position: absolute;
    margin: auto;
    top: 8%;
    left: 0;
    right: 0;
    bottom: 87%;
    width: 180vmin;
}

#songName {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 92%;
    color: white;
    text-align: center;
    font-size: 275%;
    font-weight: bold;
}

#timelineLength {
    position: absolute;
    margin: auto;
    left: 92%;
    right: 0;
    bottom: 90%;
    color: white;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
}