.song {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 474px;
    width: 2.5%;
    z-index: 0;
}

.note {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 474px;
    width: 2.5%;
    z-index: 1;
}