.pianoRoll {
    position: absolute;
    width: 98vmin;
    height: 300px;
    border: 1px solid black;
    margin-left: 10px;
}

#pianoRollwhite {
    float: left;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#pianoRollblack {
    float: left;
    border: 1px solid purple;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.song {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 474px;
    width: 2.5%;
    z-index: 0;
}

.note {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 474px;
    width: 2.5%;
    z-index: 1;
}