.settings {
    position: absolute;
    margin: auto;
    z-index: -1;
    top: 10vmin;
    left: 75%;
    right: 0;
    bottom: 0;
    border: 0.5vmin solid black;
    background-color: rgb(32, 32, 32);
    width: 36vmin;
    height: 85vmin;
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

.settingsName {
    color: white;
    text-align: center;
    font-weight: bold;
    margin: auto;
    height: 8%;
}

.volumeComponent {
    color: white;
    text-align: center;
    margin: auto;
    height: 15%;
    width: 90%;
}

.muteButton {
    position: relative;
    display: block;
    background-color:rgb(25, 25, 25);
    color: white;
    text-align: center;
    margin: auto auto;
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    max-width: 100%;
    max-height: 100%;
    width: 20%;
}
.ownVolumeSlider {
	position: absolute;
	left: 24px;
    top: 10%;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;
}

.playbackVolumeSlider {
    position: absolute;
	left: 24px;
    top: 20vmin;
	margin: 0 auto;
	height: 5px;
	width: 300px;
	background: #555;
	border-radius: 15px;
}

.songCollectionComponent {
    color: white;
    text-align: center;
    margin: auto;
    height: 12%;
    width: 90%;
}

.difficultyComponent {
    color: white;
    text-align: center;
    margin: auto;
    height: 12%;
    width: 90%;
}

.songNameButton {
    background-color:  rgb(25, 25, 25);
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    font-size: 70%;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    margin: auto auto;
}

#startGameButton {
    background-color:  rgb(25, 25, 25);
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    width: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
}

#restartListeningButton {
    background-color:  rgb(25, 25, 25);
    box-sizing: border-box; 
    box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
    color: white;
    text-align: center;
    width: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
}

@media screen and (min-width: 1525px) {
    .settingsName {
        font-size: 275%;
    }
    .volumeComponent {
        font-size: 210%;
    }
    .songCollectionComponent {
        font-size: 210%;
    }
    .difficultyComponent {
        font-size: 210%;
    }
    #startGameButton {
        font-size: 210%;
    }
    #restartListeningButton {
        font-size: 180%;
    }
}

@media screen and (min-height: 857.26px) {
    .settingsName {
        font-size: 275%;
    }
    .volumeComponent {
        font-size: 210%;
    }
    .songCollectionComponent {
        font-size: 210%;
    }
    .difficultyComponent {
        font-size: 210%;
    }
    #startGameButton {
        font-size: 210%;
    }
    #restartListeningButton {
        font-size: 180%;
    }
}

@media screen and (max-width: 1524px) {
    .settingsName {
        font-size: 225%;
    }
    .volumeComponent {
        font-size: 170%;
    }
    .songCollectionComponent {
        font-size: 170%;
    }
    .difficultyComponent {
        font-size: 170%;
    }
    #startGameButton {
        font-size: 170%;
    }
    #restartListeningButton {
        font-size: 130%;
    }
}

@media screen and (max-height: 857.25px) {
    .settingsName {
        font-size: 225%;
    }
    .volumeComponent {
        font-size: 170%;
    }
    .songCollectionComponent {
        font-size: 170%;
    }
    .difficultyComponent {
        font-size: 170%;
    }
    #startGameButton {
        font-size: 170%;
    }
    #restartListeningButton {
        font-size: 130%;
    }
}

@media screen and (max-width: 1224px) {
    .settingsName {
        font-size: 120%;
    }
    .volumeComponent {
        font-size: 110%;
    }
    .songCollectionComponent {
        font-size: 110%;
    }
    .difficultyComponent {
        font-size: 110%;
    }
    #startGameButton {
        font-size: 110%;
    }
    #restartListeningButton {
        font-size: 80%;
    }
}

@media screen and (max-height: 688.5px) {
    .settingsName {
        font-size: 120%;
    }
    .volumeComponent {
        font-size: 110%;
    }
    .songCollectionComponent {
        font-size: 110%;
    }
    .difficultyComponent {
        font-size: 110%;
    }
    #startGameButton {
        font-size: 110%;
    }
    #restartListeningButton {
        font-size: 80%;
    }
}